.new-blink {
  padding: 0.3rem 0.8em;
  background-color: rgb(10, 134, 58);
  color: white;
  transform: scale(0.7);
  font-size: 0.8em;
  display: inline;
  margin: 0 1rem;
  border-radius: 222px;

  animation: blinker 1.3s ease infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
